<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="commonTracePattern">[%p] %d{dd.MM.yy HH:mm:ss,SSS} [%t] %C %m %X%n</Property>
	</Properties>
	<Appenders>
		<Console name="sysout" target="SYSTEM_OUT">
			<PatternLayout pattern="${commonTracePattern}" />
		</Console>
		<File name="logfile"
				fileName="${sys:com.cosmos.logs.location}\${date:dd-MM-yyyy}\log-common.txt">
			<PatternLayout>
				<pattern>${commonTracePattern}</pattern>
			</PatternLayout>
		</File>		
		<Routing name="threadBounded">
			<Routes pattern="$${ctx:logfileName}">

				<Route key="$${ctx:logfileName}" ref="logfile"/>					

				<Route>
					<File name="logfile"
						fileName="${sys:com.cosmos.logs.location}\${date:dd-MM-yyyy}\${ctx:logfileName}">
						<PatternLayout>
							<pattern>${commonTracePattern}</pattern>
						</PatternLayout>
					</File>
				</Route>
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="sysout" />
			<AppenderRef ref="logfile" />
			<AppenderRef ref="threadBounded" />
		</Root>
	</Loggers>

</Configuration>